/SentimentAnalysis/RowData
/SentimentAnalysis/Model
/SentimentAnalysis/CleanData
/SentimentAnalysis/Persistence
/SentimentAnalysis/RowData.zip
.DS_Store

## 参考https://blog.csdn.net/u014079773/article/details/51602344
